// VERSION MOBILE
.privacyMain {
    margin-top: 1rem;
    width: 80%;
    text-align: center;
    p {
        font-size: 3rem;
        margin-bottom: 2rem;
        color: $color-grey;
        font-family: titlePolice;
    }
    &__container {
        height: 20rem;
        &__choiceBtn {
            cursor: pointer;
            height: 60%;
            width: 70%;
            font-family: titlePolice;
            color: $color-grey;
            font-size: 4rem;
            background-color: white;
            transition: background-color 0.5s ease-in-out;
            &--public {
                border-bottom: none;
                border-radius: 2rem 0 0 0rem;
            }
            &--private {
                border-top: none;
                border-radius: 0 0rem 2rem 0;
            }
        }
        :hover {
            color: $color-yellow;
            background-color: $color-blue;
            transition: background-color 0.5s ease-in-out;
        }
    }
}

// VERSION DESKTOP
@media screen and (min-width: 860px) {
    .privacyMain {
        margin-top: 5rem;
        width: 40%;
        p {
            font-size: 5rem;
        }
        &__container {
            display: flex;
            &__choiceBtn {
                height: 100%;
                &--public {
                    border-bottom: solid black 0.2rem;
                    border-right: none;
                    border-radius: 10rem 0 0 0rem;
                }
                &--private {
                    border-top: solid black 0.2rem;
                    border-left: none;
                    border-radius: 0 0rem 10rem 0;
                }
            }
        }
    }
}
