# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

public/pictures/2023/*
public/videos/*
src/style/main.css
src/style/main.css.map

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

.eslintrc.cjs
.prettierrc
yarn.lock
src/style/main.css.map
src/style/main.css
.htpasswd
