.news-categ {
    background-color: $color-red;
    color: $color-white;
    font-family: mainPolice;
    padding: 0.5rem;
    font-size: 3rem;
    font-weight:800;
}
.news-text {
    background-color: $color-pink;
    color: $color-grey;
    font-family: mainPolice;
    font-weight:600;
    padding: 2rem 1rem;
    margin: 1.5rem 0;
    font-size: 2rem;
}

@media screen and (min-width: 860px) {
    .news-categ {
        font-size: 4rem;
    }

    .news-text {
        font-size: 3rem;
    }
}