div.counter-container{
    position:relative;
    text-align: center;
    margin:2rem 0;

    img{
        width:10rem;
    }

    p{
        position:absolute;
        top:25%;
        left:50%;
        transform: translate(-50%);
        font-size:2.5rem;
        color:$color-yellow;
        font-family: titlePolice;

        span{
            display:none;
        }
    }
}

@media screen and (min-width: 860px){
    div.counter-container {
        img {
            width: 22rem;
        }

        p {
            position: absolute;
            top: 22%;
            left: 50%;
            transform: translate(-50%);
            font-size: 3.5rem;
            color: $color-yellow;
            font-family: titlePolice;

            span {
                display:block;
                font-size:2.5rem;
            }
        }
    }
}

