
body:has(.holiday-header){
    background: linear-gradient($color-blue,
                $color-white,
                $color-white,
                $color-white,
                $color-blue );
}

.holiday-header {
    display:block;
    background-color:$color-white;
}

@media screen and (min-width: 860px) {
    .holiday-header {
        border-radius: 0 0 2rem 2rem;
        display: flex;
        justify-content: space-between;
        height: 15rem;
        padding: 0 3rem;
    }
    .holiday-main {
        padding: 5rem 3rem;
    }
}