header.home-header{
    text-align: center;
    background: rgb(255, 255, 255);
    background: linear-gradient(14deg, rgba(255, 255, 255, 0) 65%, rgba(250, 164, 51, 1) 100%);
}

.main-container {
    width: 100%;
    margin: 6rem auto;
}

h1 {
    color: $color-blue;
    font-family: titlePolice;
    font-size: 5rem;
    text-align: center;
}

h1 span {
    font-family: mainPolice;
    font-weight:700;
    color: $color-grey;
    font-size: 3rem;
}

@media screen and (min-width: 860px) {
.main-container {
        width: 80%;
    }

    h1 {
        font-size: 6.5rem;
    }

    h1 span {
        font-size: 4.5rem;
    }
}