h1 {
    color: $color-blue;
    font-family: bukhariScript;
    font-size: 3rem;
    text-align: center;
}
h1 span {
    font-family: glacialIndifference;
    color: $color-grey;
    font-size: 2rem;
}