.cards {
    display: flex;
    justify-content: space-around;
    flex-direction: column; 
    :hover {
        transform: scale(1.05);
    }
    .card {
        margin: 2rem;
        box-shadow: 0rem 1rem 2rem -0.7rem $color-grey;
        background-color: $color-white;
        :hover {
            transform: scale(1);
        }
        a {
            display: flex;
            flex-direction: column;
        }
        &__img {
            min-height: 25rem;
            max-height: 25rem;
        }
        &--2023 {
            border-radius: 1.5rem 1.5rem 0rem 1.5rem;
            &__img {
                border-radius: 1.5rem 1.5rem 12rem 0rem;
            }
        }
        &--2024 {
            border-radius: 1.5rem 0rem 1.5rem 0rem;
            flex-direction: column-reverse;
            &__img {
                border-radius: 12rem 0rem 1.5rem 0rem;
            }
            a {
                flex-direction: column-reverse;
            }
        }
        &--2025 {
            border-radius: 0rem 1.5rem 1.5rem 1.5rem;
            &__img {
                border-radius: 0rem 1.5rem 0rem 12rem;
            }
        }
        &__date {
            font-family: titlePolice;
            color: $color-grey;
            font-size: 3rem;
            text-align: center;
            padding: 2rem;
        }
        :hover {
            .card {
                &__date {
                    color: $color-yellow;
                }
            }
        }

        &--2023 {
            border-radius: 1.5rem 1.5rem 0rem 1.5rem;

            a {
                flex-direction: column;
            }
        }
        &--2024 {
            border-radius: 1.5rem 0rem 1.5rem 0rem;
            flex-direction: column-reverse;
            a {
                flex-direction: column-reverse;
            }
        }
        &--2025 {
            border-radius: 0rem 1.5rem 1.5rem 1.5rem;
            a {
                flex-direction: column;
            }
        }

        &__img {
            height: 85%;
            object-fit: cover;
            &--2023 {
                border-radius: 1.5rem 1.5rem 12rem 0rem;
            }

            &--2024 {
                border-radius: 12rem 0rem 1.5rem 0rem;
            }

            &--2025 {
                border-radius: 0rem 1.5rem 0rem 12rem;
            }
        }

        &__date {
            font-family: titlePolice;
            color: $color-grey;
            font-size: 2rem;
            text-align: center;
            padding: 1rem;
        }

        a {
            display: flex;
            height: 100%;
        }
    }
}

@media screen and (min-width: 860px) {
    .cards {
        flex-direction: row;
        & .card {
            width: 30%;
            min-height: 50rem;
            a {
                height: 100%;
            }
            &__img {
                height: 85%;
                max-height: none;
                object-fit: cover;
            }
            &__date {
                font-size: 5rem;
                padding: 3rem 1rem;
            }
        }
    }
}

@media screen and (max-width: 430px) {
    .cards {
        flex-direction: column;
        align-items: center;
        & .card {
            width: 90%;
            margin: 1rem auto;
            min-height: 20rem;
            & .card__date {
                font-size: 3rem;
            }
        }
    }
}


@media screen and (max-width: 860px) {
    .cards{
        width: 70%;
        margin: auto;
    }
}
