.cards-container {
    margin: auto;
    display: flex;
    justify-content: space-between;
    & .card {
        height: 450px;
        box-shadow: 0rem 1rem 2rem -0.7rem $color-grey;
        &--2023 {
            border-radius: 1.5rem 1.5rem 0rem 1.5rem;
        }
        &--2024 {
            border-radius: 1.5rem 0rem 1.5rem 0rem;
            display: flex;
            flex-direction: column-reverse;
        }
        &--2025 {
            border-radius: 0rem 1.5rem 1.5rem 1.5rem;
        }
        &__img {
            width: 320px;
            height: 85%;
            object-fit: cover;
            &--2023 {
                border-radius: 1.5rem 1.5rem 12rem 0rem;
            }
            &--2024 {
                border-radius: 12rem 0rem 1.5rem 0rem;
            }
            &--2025 {
                border-radius: 0rem 1.5rem 0rem 12rem;
            }
        }
        &__date {
            font-family: genty;
            color: $color-grey;
            font-size: 2rem;
            text-align: center;
            padding: 1rem;
        }
    }
    
}

