.cards-container {
    display: flex;
    justify-content: space-around;

    & .card {
        width: 30%;
        min-height: 30rem;
        display: flex;
        box-shadow: 0rem 1rem 2rem -0.7rem $color-grey;

        &--2023 {
            flex-direction: column;
            border-radius: 1.5rem 1.5rem 0rem 1.5rem;
        }

        &--2024 {
            border-radius: 1.5rem 0rem 1.5rem 0rem;
            flex-direction: column-reverse;
        }

        &--2025 {
            flex-direction: column;
            border-radius: 0rem 1.5rem 1.5rem 1.5rem;
        }

        &__img {
            height: 85%;
            object-fit: cover;

            &--2023 {
                border-radius: 1.5rem 1.5rem 12rem 0rem;
            }

            &--2024 {
                border-radius: 12rem 0rem 1.5rem 0rem;
            }

            &--2025 {
                border-radius: 0rem 1.5rem 0rem 12rem;
            }
        }

        &__date {
            font-family: titlePolice;
            color: $color-grey;
            font-size: 2rem;
            text-align: center;
            padding: 1rem;
        }
    }
}


@media screen and (min-width: 860px) {
    .cards-container {
        & .card {
            width: 32%;
            min-height: 52rem;

            &__date {
                font-size: 5rem;
                padding: 3rem 1rem;
            }
        }
    }
}

