.faq-licences {
    margin: 3rem 6rem;
    border-bottom: 1px solid $color-lightgrey;
    padding-bottom: 3rem;
}

h3 {
    font-weight: 800;
    color: $color-blue;
    margin-bottom: 1.5rem;
}

.no-border {
    border: none;
    padding-bottom: 0;
}

aside {
    margin: 3rem 0;
}
