.otherPages {
    width: 95%;
    &__element {
        padding-bottom: 3rem;
        .no-border {
            border: none;
            padding-bottom: 0;
        }
        h3 {
            font-weight: 800;
            color: $color-blue;
            margin-bottom: 0.5rem;
        }
        aside {
            margin: 3rem 0;
        }
        input,
        textarea {
            margin: 0.5rem;
            padding: 1rem;
            font-family: mainPolice;
            font-size: 2rem;
        }
        textarea {
            width: 90%;
        }
        textarea::placeholder {
            text-align: center;
        }
        &.error {
            .error-message {
                color: $color-red;
            }
            input {
                border: 2px solid $color-red;
            }
        }
        .btn {
            padding: 1.5rem;
        }
    }
}

@media screen and (min-width: 860px) {
    .otherPages {
        width: 70%;
        margin: auto;
        textarea {
            width: 90%;
        }
    }
}
