.otherPages {
    width: 95%;
    &__element {
        padding: 3rem 0;

        h3 {
            font-weight: 800;
            color: $color-blue;
            margin-bottom: 0.5rem;
        }
        aside {
            margin: 0 0 3rem 0;
        }
        input,
        textarea {
            margin: 0.5rem;
            padding: 1rem;
            font-family: mainPolice;
            font-size: 2rem;
        }
        textarea {
            width: 50%;
        }
        textarea::placeholder {
            text-align: center;
        }
        &.error {
            .error-message {
                color: $color-red;
            }
            input {
                border: 2px solid $color-red;
            }
            .btn {
                padding: 1.5rem;
            }
        }
    }

    .border {
        border-bottom: 1px solid $color-lightgrey;
    }

    .otherElement {
        width: 70%;
        margin: auto;
    }
}

.moumou {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0;
    video {
        width: 100%;
        margin-bottom: 2rem;
    }
    button {
        width: 15%;
        padding: 1rem;
    }
}

.figure-container {
    display: flex;
    flex-direction: row;
    padding-top: 3rem;
    figure {
        margin: 1.5rem;
    }
    img {
        border-radius: 50%;
    }
}

@media screen and (max-width: 860px) {
    .otherElement {
        width: 90%;
        margin: auto;
        overflow-wrap: anywhere;
        padding: 1rem;
    }
    .otherPagesElement {
        margin: 0;
        font-size: 2.5rem;
        & #message {
            width: 90%;
        }
    }
    article.description.otherPages {
        margin: auto;
        padding: 1rem;
    }
    .otherPages__element {
        padding: 1rem;
    }

    .otherPages__element input,
    .otherPages__element textarea {
        width: 85%;
    }
    .otherPages__element button.btn {
        font-size: 2rem;
        padding: 1rem;
    }
    .figure-container{
        flex-direction: column;
    }
}
