.dayCard { // style global à chacun des articles ( ensemble des jours )
    background-color: $color-white;
    box-shadow: $color-grey 0.1rem 0.1rem 1rem;
    border-radius: 20px;
    padding: 5rem;
    margin:5rem;
    h2 {        
        text-align: center;
        margin-bottom: 3rem;
        font-family: titlePolice;
        color: $color-grey;
    }
    &__photo { // -------TEST-------- //
        width: 200px;
    }
    // Style propre à l'article en question ( chaque jours )
    &--Samedi12 { // -------TEST-------- //
        .text { 
            color: black;
        }
    }
    &--Dimanche13 { // -------TEST-------- //
        color: red;
    }
    &--Lundi14 { // -------TEST-------- //
        color: red;
    }
    &--Mardi15 { // -------TEST-------- //
        color: red;
    }
    &--Mercredi16 { // -------TEST-------- //
        color: red;
    }
    &--Jeudi17 { // -------TEST-------- //
        color: red;
    }
    &--Vendredi18 { // -------TEST-------- //
        color: red;
    }
}