.dayCard {
    background-color: $color-white;
    box-shadow: $color-grey 0.1rem 0.1rem 1rem;
    border-radius: 20px;
    padding: 5rem;
    margin: 5rem;
    &__title {
        text-align: center;
        margin-bottom: 3rem;
        font-family: titlePolice;
        color: $color-grey;
    }
    &__samedi12 {
        &__text { // TEST TEST TEST
            &--1 {
                order: 2;
            }
            &--2 {
                order: 1;
            }
        }
        &__container {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            &-img {
                width: 30rem;
                height: 20rem;
                margin: 0.2rem;
                padding: 0.4rem;
                border: 0.1rem solid lightgrey; // A REMPLACER PAR UNE VARIABLE DE COULEUR
                border-radius: 0.5rem;
                object-fit: fill;
            }
        }
    }
}
