// VERSION MOBILE
.header {
    text-align: center;
    background: rgb(255, 255, 255);
    background: linear-gradient(
        14deg,
        rgba(255, 255, 255, 0) 65%,
        rgba(250, 164, 51, 1) 100%
    );    
    padding: 4rem 0;
  
}
.headerNav {
    display: block;
    background-color: $color-white;
}
.header h1,
.headerNav h1 {
    display: block;
    min-height: 17rem;
    width: 100%;
    margin: auto;
}

// VERSION DESKTOP
@media screen and (min-width: 860px) {
    
    body:has(.headerNav) {
        background: linear-gradient(
            $color-blue,
            $color-white,
            $color-white,
            $color-white,
            $color-white,
            $color-white,
            $color-white,
            $color-blue
        );
    }
    .headerNav {
        border-radius: 0 0 2rem 2rem;
        display: flex;
        justify-content: space-between;
        height: 15rem;
        padding: 0 3rem;
    }    
}