nav {   
    display: flex;
    width: 60%;
    flex-direction: column;
    justify-content: center;

    ul {
        display: flex;
        justify-content: space-around;

        li{
            display:flex;
            align-items: center;
            background-color: $color-blue;
            border-radius: 2rem;
            text-align: center;
            padding: 1rem 3rem;
            a {
                color: $color-white;
                font-family: mainPolice;
                font-size: 3rem;
                font-weight: bold;
                padding-bottom: 0.5rem;
            }
        } 
    }
}

@media screen and (max-width: 860px) {
    nav{
        display:none;
    }
}
