$color-blue: #0996a5;
$color-red: #ce4847;
$color-yellow: #faa433;
$color-pink: #fddbcb;
$color-grey: #686868;
$color-white: #ffffff;

@font-face {
    font-family: bukhariScript;
    src: url(./fonts/Bukhari-Script.otf);
}

@font-face {
    font-family: genty;
    src: url(./fonts/GentyDemo-Regular.otf);
}

@font-face {
    font-family: glacialIndifference;
    src: url(./fonts/GlacialIndifference-Bold.otf)
}
