$color-primary: #0996a5;
$color-secondary: #d0d0cf;
$color-tertiary: #fddbcb;
$color-quaternary: #faa433;
$color-quinary: #ce4847;

@font-face {
    font-family: bukhariScript;
    src: url(./fonts/Bukhari-Script.otf);
}

@font-face {
    font-family: genty;
    src: url(./fonts/GentyDemo-Regular.otf);
}

@font-face {
    font-family: glacialIndifference;
    src: url(./fonts/GlacialIndifference-Regular.otf);
}
