@import './reset.scss';
@import './variables.scss';
@import '../components/BreakingNews/BreakingNews';
@import '../components/Cards/Cards';
@import '../components/Carousel/Carousel';
@import '../components/Counter/Coutner';
@import '../components/Description/Description';
@import '../components/Footer/Footer';
@import '../components/Logo/Logo';
@import '../components/Navbar/Navbar';
@import '../components/Survey/Survey';
@import '../components/Templates/Template1';
@import '../components/Templates/Template2';
@import '../components/Templates/Template3';
@import '../components/Templates/Template4';
@import '../components/Templates/Template5';
@import '../components/Templates/Template6';
@import '../components/Templates/Template7';
@import '../pages/Error404/Error404';
@import '../pages/Holiday/Holiday';
@import '../pages/Home/Home';
@import '../pages/OtherPages';

html {
    font-size: 62.5%;
}

body {
    position: relative;
    margin: auto;
    font-family: mainPolice;
    font-size: 2.3rem;
    line-height: normal;
}

main {
    max-width: 1280px;
    margin: auto;
}

.App {
    overflow: hidden;
    position: relative;
}

.btn {
    font-size: 2rem;
    font-weight: bold;
    color: $color-white;
    border: none;
    border-radius: 2rem;
}

.hidden {
    display: none;
}

i {
    font-style: italic;
}

b {
    font-weight: 600;
}

.red-cercle {
    display: none;
}

.blue-triangle {
    display: none;
}


@media screen and (min-width: 860px) {
    html {
        font-size: 62.5%;
    }

    body {
        position: relative;
        margin: auto;
        font-family: mainPolice;
        font-size: 2.3rem;
        line-height: 1;
    }
    
    .red-cercle {
        position: absolute;
        top: 0;
        left: 0;
        width: 100rem;
        height: 100rem;
        z-index: -10;
        border-radius: 50%;
        background: linear-gradient(330deg,
                rgba(255, 255, 255, 0) 35%,
                rgba(206, 72, 71, 1) 100%);
    }
    
    .blue-triangle {
        position: absolute;
        top: 100%;
        left: 100%;
        width: 100rem;
        height: 100rem;
        z-index: -10;
    }

    .rotating_1 {
        animation: rotating_1 120s linear infinite;
    }

    .rotating_2 {
        animation: rotating_2 120s linear infinite;
    }
}
