/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

@font-face {
  font-family: bukhariScript;
  src: url(./fonts/Bukhari-Script.otf);
}
@font-face {
  font-family: genty;
  src: url(./fonts/GentyDemo-Regular.otf);
}
@font-face {
  font-family: glacialIndifference;
  src: url(./fonts/GlacialIndifference-Bold.otf);
}
header {
  display: flex;
  justify-content: center;
}

main {
  width: 90%;
  margin: auto;
}

h1 {
  color: #0996a5;
  font-family: bukhariScript;
  font-size: 3rem;
  text-align: center;
}

h1 span {
  font-family: glacialIndifference;
  color: #686868;
  font-size: 2rem;
}

.news-categ {
  background-color: #ce4847;
  color: #ffffff;
  font-family: glacialIndifference;
  padding: 0.5rem;
  font-size: 1.2rem;
}

.news-text {
  background-color: #fddbcb;
  color: #686868;
  font-family: glacialIndifference;
  padding: 0.5rem;
  margin: 0.5rem 0;
}

.visible {
  display: block;
}

.hidden {
  display: none;
}

div.counter-container {
  position: relative;
  text-align: center;
  margin: 2rem 0;
}
div.counter-container img {
  width: 10rem;
}
div.counter-container p {
  position: absolute;
  top: 25%;
  left: 50%;
  transform: translate(-50%);
  font-size: 2rem;
  color: #faa433;
  font-family: Genty;
}
div.counter-container p span {
  display: none;
}

@media screen and (min-width: 860px) {
  div.counter-container img {
    width: 17rem;
  }
  div.counter-container p {
    position: absolute;
    top: 22%;
    left: 50%;
    transform: translate(-50%);
    font-size: 3rem;
    color: #faa433;
    font-family: Genty;
  }
  div.counter-container p span {
    display: block;
    font-size: 2rem;
  }
}
.cards-container {
  border: 2px solid red;
  margin: auto;
  display: flex;
  justify-content: space-between;
}

.card {
  border: 1px solid blue;
  height: 450px;
}
.card__img {
  width: 320px;
  height: 85%;
  -o-object-fit: cover;
     object-fit: cover;
}
.card__img--0 {
  border-radius: 1.5rem 1.5rem 12rem 0rem;
}
.card__img--1 {
  border-radius: 12rem 0rem 1.5rem 0rem;
}
.card__img--2 {
  border-radius: 0rem 1.5rem 0rem 12rem;
}
.card__date {
  font-family: genty;
  color: #686868;
  font-size: 2rem;
  text-align: center;
  padding: 1rem;
}

.footer__avatar {
  width: 100%;
}
.footer__text {
  background-color: #faa433;
}/*# sourceMappingURL=main.css.map */