@import './reset.scss';
@import './variables.scss';
@import '../pages/Home/Home';
@import '../components/Logo/Logo';
@import '../components/BreakingNews/BreakingNews';
@import '../components/Description/Description';
@import '../components/Counter/Coutner';
@import '../components/Cards/Cards';
@import '../pages/Holiday/Holiday';
@import '../components/Navbar/Navbar';
@import '../components/Day/Day';
@import '../components/Templates/Template1';
@import '../components/Templates/Template2';
@import '../components/Templates/Template3';
@import '../components/Templates/Template4';
@import '../components/Templates/Template5';
@import '../components/Carousel/Carousel';
@import '../components/Templates/Template6';
@import '../components/Templates/Template7';
@import '../components/Footer/Footer';
@import '../pages/Error404/Error404';
@import '../pages/Faq-licences';

html {
    font-size: 62.5%;
}

body {
    position: relative;
    margin: auto;
    font-family: mainPolice;
    font-size: 2.3rem;
    line-height: 1;
}

main {
    max-width: 1280px;
    margin: auto;
}

.App {
    overflow: hidden;
    position: relative;
}

.visible {
    display: block;
}

.hidden {
    display: none;
}

i {
    font-style: italic;
}

b {
    font-weight: 600;
}

.red-cercle {
    position: absolute;
    top: 0;
    left: 0;
    width: 100rem;
    height: 100rem;
    z-index: -10;
    border-radius: 50%;
    background: linear-gradient(
        330deg,
        rgba(255, 255, 255, 0) 35%,
        rgba(206, 72, 71, 1) 100%
    );
}

.blue-triangle {
    position: absolute;
    top: 100%;
    left: 100%;
    width: 100rem;
    height: 100rem;
    z-index: -10;
}

@-webkit-keyframes rotating_1 {
    from {
        -webkit-transform: rotate(0deg);
        top: 0;
    }
    10% {
        left: 60%;
        top: 10%;
    }
    20% {
        left: -20%;
        top: 40%;
    }
    30% {
        left: 10%;
        top: 80%;
    }
    40% {
        left: 50%;
        top: 60%;
    }
    50% {
        left: -20%;
        top: 25%;
    }
    60% {
        left: 25%;
        top: -20%;
    }
    70% {
        left: 70%;
        top: 45%;
    }
    80% {
        left: -20%;
        top: 60%;
    }
    90% {
        left: 25%;
        top: 70%;
    }
    to {
        top: 0;
        -webkit-transform: rotate(360deg);
    }
}
@-webkit-keyframes rotating_2 {
    from {
        -webkit-transform: rotate(0deg);
        top: 0;
    }

    10% {
        left: 10%;
        top: 80%;
    }

    20% {
        left: 50%;
        top: 60%;
    }

    30% {
        left: -20%;
        top: 25%;
    }

    40% {
        left: 25%;
        top: -20%;
    }

    50% {
        left: 70%;
        top: 45%;
    }

    60% {
        left: -20%;
        top: 60%;
    }

    70% {
        left: 25%;
        top: 70%;
    }

    80% {
        left: 60%;
        top: 10%;
    }

    90% {
        left: -20%;
        top: 40%;
    }

    to {
        top: 0;
        -webkit-transform: rotate(360deg);
    }
}

.rotating_1 {
    -webkit-animation: rotating_1 120s linear infinite;
}

.rotating_2 {
    -webkit-animation: rotating_2 120s linear infinite;
}

@media screen and (max-width: 800px) {
    html {
        font-size: 62.5%;
    }

    body {
        position: relative;
        margin: auto;
        font-family: mainPolice;
        font-size: 2.3rem;
        line-height: 1;
    }

    .App {
        overflow: hidden;
        position: relative;
    }

    .visible {
        display: none;
    }

    .red-cercle {
        display: none;
    }

    .blue-triangle {
        display: none;
    }
}
