.carousel {
    :hover {
        cursor: pointer;
        .container__arrow {
            display: flex;
        }
    }
    .container {
        position: relative;
        height: 65rem;
        margin: 5rem 0 2rem 0;
        overflow: hidden;
        &__slide {
            display: flex;
            justify-content: center;
            &__img {
                position: absolute;
                top: 0;
                &--invisible {
                    display: none;
                }
                &--visible {
                    z-index: 1;
                    visibility: visible;
                    width: 100%;
                    height: 100%;
                    object-fit: contain;
                }
            }
            &__background {
                position: absolute;
                width: 100%;
                height: 100%;
                object-fit: cover;
                filter: blur(10px);
            }
        }
        &__arrow {
            display: none;
            background: transparent;
            border: none;
            justify-content: center;
            align-items: center;
            position: absolute;
            z-index: 1;
            height: 100%;
            width: 10rem;
            font-size: 5rem;
            color: $color-yellow;
            &--left {
                top: 50%;
                left: 0;
                transform: translateY(-50%);
            }
            &--right {
                bottom: 50%;
                right: 0;
                transform: translateY(50%);
            }
        }
        &__dots {
            z-index: 1;
            position: absolute;
            display: flex;
            justify-content: center;
            bottom: 1rem;
            width: 100%;
            margin-top: 1rem;
            &__dot {
                align-self: center;
                width: 1.5rem;
                height: 1.5rem;
                margin: 0 0.5rem;
                background-color: $color-blue;
                border-radius: 50%;
                cursor: pointer;
                &--active {
                    background-color: $color-yellow;
                    transform: scale(1.3);
                }
            }
        }
    }
    .miniatures {
        display: flex;
        height: 20rem;
        justify-content: space-between;
        &__slide {
            &__img {
                height: 13rem;
                width: 13rem;
                object-fit: cover;
                border-radius: 2rem;
                opacity: 0.6;
                &--active {
                    opacity: 1;
                    transform: scale(1.1);
                }
            }
        }
    }
}
