.carousel {
    :hover {
        cursor: pointer;
    }

    &__container {
        position: relative;
        height: 65rem;
        margin: 5rem 0;
        overflow: hidden;
    }

    .container {
        display: flex;
        justify-content: center;
        &__background {
            position: absolute;
            width: 100%;
            height: 100%;
            object-fit: cover;
            filter: blur(10px); // Appliquez un flou au fond
        }

        &__image {
            position: absolute;
            top: 0;
            &--invisible {
                display: none;
            }
            &--visible {
                z-index: 1;
                visibility: visible;
                width: 100%;
                height: 100%;
                object-fit: contain;
            }
        }
    }

    &__arrow {        
        z-index: 2;
        position: absolute;
        border: none;
        height: 3rem;
        width: 3rem;
        &--left {
            top: 50%;
            left: 1rem;
            transform: translateY(-50%);
        }
        &--right {
            bottom: 50%;
            right: 1rem;
            transform: translateY(50%);
        }
    }
    &__dots {
        z-index: 2;
        position: absolute;
        display: flex;
        justify-content: center;
        bottom: 1rem;
        width: 100%;
        margin-top: 1rem;
        &__dot {
            align-self: center;
            width: 1.2rem;
            height: 1.2rem;
            margin: 0 0.5rem;
            background-color: $color-blue;
            border-radius: 50%;
            cursor: pointer;
            &--active {
                background-color: $color-yellow;
                transform: scale(1.3);
            }
        }
    }
}
