footer{
    color: white;
    width:100%;
    position:relative;
    font-size:2rem;
    font-weight: 600;

    img{
        width:100%;
        margin:0;
        transform: translateY(10%);
    }
    .content{
        display:flex;
        justify-content: space-evenly;
        position:relative;
        background-color: $color-yellow;
        padding:2rem;
    }

}    

@media screen and (min-width: 860px) {
    footer {
        font-size:2.3rem;

        .content{
            padding:5rem;
        }
    }
}