.main-error {
    display: flex;
    justify-content: center;
}

.section-error {
    width: 50%;
    height: auto;
    margin: 6rem 0;
}

.section-error h3 {
    text-align: center;
    font-family: titlePolice;
    color: $color-pink;
    font-size: 10rem;
    margin-bottom: 3rem;
}
